/* Main - Styles */

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  background: #272727;
}

body {
  font-size: 1.6rem;
  font-family: "Source Sans Pro", arial, helvetica, sans-serif;
  padding-bottom: 3.2rem;
}

li {
  margin: 0 5rem 2.5rem 0;
  text-align: justify;
  color: #ffffff;
}

.content {
  display: none;
  margin: auto;
  width: 85%;
}

svg text[class*="legend"] {
  cursor: pointer;
}
