/**
 * Portions of this file are based on the original tech-radar project © Zalando SE
 * Additional modifications © 2020 tb.lx by Daimler Truck 
 **/

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  background: #272727;
}

body {
  font-size: 1.6rem;
  font-family: "Source Sans Pro", arial, helvetica, sans-serif;
  padding-bottom: 3.2rem;
  overflow-x: hidden;
  max-width: 100%;
}

li {
  margin: 0 5rem 2.5rem 0;
  text-align: justify;
  color: #ffffff;
}

svg text[class*="legend"] {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #37c871;
}

a:hover {
  color: #000000;
}
